<div class="p-4 border-2 border-green-500 flex flex-row">
  <div class="flex flex-row w-full relative">
    <div class="user-item flex flex-row p-6 w-full" (click)="toggleMenuLeft()">
      @if(selectedUsers().name !== ''){

      <app-user-avatar
        [userColor]="selectedUsers().color"
        [userName]="selectedUsers().name"
      ></app-user-avatar>
      } @else {
      <p-button
        icon="pi pi-user"
        pButton
        class="w-16 h-16 rounded-full border-2 border-black-500 mr-6"
      />
      }

      <span class="text-2xl font-semibold text-black content-center">
        {{ selectedUsers().name }}</span
      >
    </div>

    <div class="mx-auto flex justify-center content-center">
      <p-button
        class="my-auto p-primary"
        pRipple
        pButton
        icon="pi pi-bars"
        (onClick)="toggleMenuRight()"
      />
    </div>
  </div>

  @if(showLeftMenu){
  <div
    class="absolute border-2 border-l-0 border-black-500 w-[75%] bg-white left-0 top-0 h-full z-50"
  >
    <app-user-side-component
      [selectedUsers]="selectedUsers"
      [userList]="userList"
      [searchString]="searchString"
      (closeUserList)="closeMenu()"
      [currentDevice]="currentDevice"
    ></app-user-side-component>
  </div>
  } @if(showRightMenu){
  <div
    class="absolute border-2 border-r-0 border-black-500 w-[75%] bg-white -right-2 top-0 h-full z-50 flex flex-col content-center"
  >
    <div class="flex flex-row mx-auto py-4">
      <p-button
        pButton
        (onClick)="closeMenu(1)"
        severity="primary"
        label="Arbejdstimer"
        class="w-36 justify-center"
      ></p-button>
    </div>
    <div class="flex flex-row mx-auto py-4">
      <p-button
        pButton
        (onClick)="closeMenu(2)"
        severity="primary"
        label="Fridage"
        class="w-36 justify-center"
      ></p-button>
    </div>
  </div>
  }
</div>
