<div class="h-full flex flex-col">
    <div class="h-[65px] min-h-[65px] flex-shrink-0 flex items-center justify-center border-2 border-black-500">
        <div class="w-[90%] h-[75%] rounded-full bg-gray-400 border-2 justify-center text-xl text-white content-center p-2 hover:cursor-pointer">Search..</div>
    </div>

    <div class="flex-grow border-2 border-black-500 overflow-y-auto overflow-x-hidden scrollbar-thin scrollbar-thumb-surface-PrimaryColor scrollbar-track-gray-200">
        <app-user-list [ngClass]="{'w-full': true}"></app-user-list>
    </div>
</div>
