<div class="h-full flex flex-col">
    <div class="h-[65px] min-h-[65px] flex-shrink-0 flex items-center justify-center border-2 border-black-500">
        <p-iconField iconPosition="right" class=" w-[90%] h-[75%] p-2 hover:cursor-pointer flex mx-auto my-auto items-center"  >
            <p-inputIcon styleClass="pi pi-search" />
            <input
            (input)="searchUser($event)"
            type="text"  
            placeholder="Search..." 
            pInputText
            class="bg-gray-400 text-white py-2 pl-2" 
            />
        </p-iconField>
    </div>

    <div class="flex-grow border-2 border-black-500 overflow-y-auto overflow-x-hidden scrollbar-thin scrollbar-thumb-surface-PrimaryColor scrollbar-track-gray-200">
        <app-user-list [ngClass]="{'w-full': true}"></app-user-list>
    </div>
</div>
