<div
  class="flex w-full mx-auto width-class"
  [ngClass]="deviceTypeStore.isDesktop() ? 'flex-row' : 'flex-col'"
>
  @if(deviceTypeStore.isDesktop()){
  <div class="h-full w-2/12 border-2 border-black-500">
    <app-user-side-component
      [searchString]="searchString"
      [userList]="userList"
      [currentUser]="currentUser"
      [currentDevice]="deviceType"
    ></app-user-side-component>
  </div>
  } @if(!deviceTypeStore.isDesktop()){
  <app-m-header
    [searchString]="searchString"
    [userList]="userList"
    [currentUser]="currentUser"
    [currentDevice]="deviceType"
    (showWorkingdays)="setShowWorkDays()"
    (showSickDays)="setShowSickDays()"
  ></app-m-header>
  }

  <div
    class="h-full border-2 border-black-500"
    [ngClass]="deviceTypeStore.isDesktop() ? ' w-10/12' : 'w-full'"
  >
    <app-data-side
      [currentUser]="currentUser"
      [userList]="userList"
      [currentDevice]="deviceType"
      [shouldRender]="deviceTypeStore.isDesktop()"
      [ngClass]="[
        'items-center',
        'justify-center',
        'h-full',
        'overflow-hidden'
      ]"
    >
    </app-data-side>
  </div>
</div>
