<div class="flex w-full" [ngClass]="deviceTypeStore.isDesktop() ? 'flex-row' : 'flex-col'">
    <ng-container *ngIf="deviceTypeStore.isDesktop()">
        <div  class="h-full w-1/5 border-2 border-black-500">
            <app-user-side-component></app-user-side-component>
        </div>
    </ng-container>
    <ng-container *ngIf="!deviceTypeStore.isDesktop()">
        <app-m-header></app-m-header>
    </ng-container>
    
    <div class="h-full border-2 border-black-500" [ngClass]="deviceTypeStore.isDesktop() ? ' w-4/5':'w-full'">
        <app-data-side [shouldRender]="deviceTypeStore.isDesktop()"></app-data-side>
    </div>
</div>