@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

app-root {
  height: 100vh;
  width: 100vw;
}


html, body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 12px;
}


