.bg-blue-500 {
  background-color: #24C79F;
  /* Eller en anden farve */
}

.mobile-view .fc-header-toolbar {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
}