<div class="h-full w-full flex flex-col" >

    <ng-container *ngIf="shouldRender">
        <div class="w-full min-h-[67px] flex flex-row">
            <div class="w-1/2 border-2 border-green-500 text-2xl font-semibold text-black content-center text-center hover:bg-surface-lightmodeHover">Arbejdstimer</div>
            <div class="w-1/2 border-2 border-green-500 text-2xl font-semibold text-black content-center text-center hover:bg-surface-lightmodeHover">Fridage</div>
        </div>
    </ng-container>


    <div class="flex flex-grow border-2 border-blue-500 content-center justify-center overflow-hidden">
        <app-full-calendar [ngClass]="['w-full', 'px-24', 'content-center']"></app-full-calendar>
    </div>

</div>
