<div class="h-full w-full flex flex-col">

    <ng-container *ngIf="shouldRender">
        <div class="w-full min-h-[67px] flex flex-row">
            <div (click)="visArbejdstimer()"
                [ngClass]="{'bg-blue-500': !globalStore.showNonWorkingDays(), 'hover:bg-surface-lightmodeHover': !!globalStore.showNonWorkingDays()}"
                class="w-1/2 border-2 text-2xl font-semibold text-black content-center text-center hover:cursor-pointer header-switch-tab">
                Arbejdstimer</div>
            <div (click)="visFridage()"
                [ngClass]="{'bg-blue-500': globalStore.showNonWorkingDays(), 'hover:bg-surface-lightmodeHover': globalStore.showNonWorkingDays()}"
                class="w-1/2 border-2 text-2xl font-semibold text-black content-center text-center hover:cursor-pointer header-switch-tab">
                Fridage</div>
        </div>
    </ng-container>

    <div class="flex flex-col flex-grow border-2 content-center justify-center overflow-hidden">
        <app-full-calendar [ngClass]="['w-full', 'px-24 py-6', 'content-center', 'max-h-calc-100-minus-100']"></app-full-calendar>
        <div class="flex flex-row flex-grow w-full justify-end items-center pb-12 pr-12">

            <div class="flex flex-col p-2">
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" />
            </div>

            <div class="flex flex-col p-2">
                <p-button pRipple pButton label="parse" (onClick)="parseData()"></p-button>

            </div>


        </div>
    </div>
</div>