<div class="h-full w-full flex flex-col">

    <ng-container *ngIf="shouldRender">
        <div class="w-full min-h-[67px] flex flex-row">
            <div (click)="visArbejdstimer()"[ngClass]="{'bg-blue-500': !globalStore.showNonWorkingDays(), 'hover:bg-surface-lightmodeHover': !!globalStore.showNonWorkingDays()}" class="w-1/2 border-2 text-2xl font-semibold text-black content-center text-center hover:cursor-pointer">Arbejdstimer</div>
            <div (click)="visFridage()"[ngClass]="{'bg-blue-500': globalStore.showNonWorkingDays(), 'hover:bg-surface-lightmodeHover': globalStore.showNonWorkingDays()}"class="w-1/2 border-2 text-2xl font-semibold text-black content-center text-center hover:cursor-pointer">Fridage</div>
        </div>
    </ng-container>

    <div class="flex flex-grow border-2 content-center justify-center overflow-hidden">
        <app-full-calendar [ngClass]="['w-full', 'px-24', 'content-center']"></app-full-calendar>
    </div>
</div>
